compact
sno
standard
cli/*tar.gz
mirror.conf
vmware.conf
mirror/.registry-creds.txt
mirror/.dnf-install.log
mirror/.initialized
mirror/.oc-mirror.log
mirror/.rpms
*.md.bak
target-ocp-version.conf
mirror/regcreds/
mirror/imageset-config*yaml
mirror/execution-environment.tar
mirror/image-archive.tar
mirror/imageset-config-sync.yaml
mirror/mirror-registry
mirror/mirror-registry.tar.gz
mirror/oc-mirror-workspace
mirror/pause.tar
mirror/postgres.tar
mirror/quay.tar
mirror/redis.tar
mirror/scripts
mirror/templates
mirror/save
mirror/*.sh
test/.ssh.conf
test/mirror-registry.tar.gz
*.ssh.conf
cli/.init
mirror/.installed
mirror/.synced
mirror/.uninstalled
