apiVersion: v1alpha1
kind: AgentConfig
metadata:
  name: {{ cluster_name }}
rendezvousIP: {{ rendezvous_ip }}
hosts:
{#--------------------------------------------------------------
  Precompute offsets for MACs and IPs based on number of ports
---------------------------------------------------------------#}
{%- set ports_per_host   = arr_ports | length | int %}
{%- set master_mac_offset = 0 | int %}
{%- set worker_mac_offset = ( num_masters | int ) * ports_per_host %}
{%- set master_ip_offset  = 0 | int %}
{%- set worker_ip_offset  = num_masters | int %}

{%- for role, prefix, count, mac_offset, ip_offset in [
    ("master", master_prefix, num_masters|int, master_mac_offset, master_ip_offset),
    ("worker", worker_prefix, num_workers|int, worker_mac_offset, worker_ip_offset)
] %}
  {%- for hostcnt in range(count) %}
    {%- if role == 'master' and num_workers == '0' and num_masters == '1' %}
  - hostname: {{ cluster_name }}
    {%- else %}
  - hostname: {{ prefix }}{{ loop.index }}
    {%- endif %}
    role: {{ role }}
    interfaces:
    {%- for port in arr_ports %}
      - name: {{ port }}
        macAddress: {{ arr_macs[hostcnt * ports_per_host + loop.index0 + mac_offset] }}
    {%- endfor %}
    networkConfig:
      interfaces:
        - name: bond0
          description: Access mode bond using ports {{ arr_ports | join(", ") }}
          type: bond
          state: up
          ipv4:
            enabled: true
            address:
              - ip: {{ arr_ips[hostcnt + ip_offset] }}
                prefix-length: {{ prefix_length }}
            dhcp: false
          link-aggregation:
            mode: active-backup  # mode=1 active-backup, mode=2 balance-xor or mode=4 802.3ad
            options:
              miimon: '140'
            port:
            {%- for port in arr_ports %}
              - {{ port }}
            {%- endfor %}
      {%- if arr_dns_servers %}
      dns-resolver:
        config:
          server:
          {%- for dns in arr_dns_servers %}
            - {{ dns }}
          {%- endfor %}
      {%- endif %}
      routes:
        config:
          - destination: 0.0.0.0/0
            next-hop-address: {{ next_hop_address }}
            next-hop-interface: bond0
  {%- endfor %}
{%- endfor %}
