apiVersion: v1alpha1
kind: AgentConfig
metadata:
  name: {{ cluster_name }}
rendezvousIP: {{ rendezvous_ip }}
hosts:
  {%- for hostcnt in range(num_masters|int) %}
  {%- if num_workers == '0' and num_masters == '1' %}
  - hostname: {{ cluster_name }}
  {%- else %}
  - hostname: {{ master_prefix }}{{ loop.index }}
  {% endif %}
    role: master
    interfaces:
     - name: ens160
       macAddress: {{ arr_macs[hostcnt] }}
    networkConfig:
      interfaces:
        - name: ens160
          type: ethernet
          state: up
          mac-address: {{ arr_macs[hostcnt] }}
          ipv4:
            enabled: true
            address:
              - ip: {{ machine_ip_prefix }}{{ '%d' % ( loop.index + starting_ip|int - 1 ) }}
                prefix-length: {{ prefix_length }}
            dhcp: false
      dns-resolver:
        config:
          server:
            - {{ dns_server }}
      routes:
        config:
          - destination: 0.0.0.0/0
            next-hop-address: {{ next_hop_address }}
            next-hop-interface: ens160
  {% endfor %}
  {%- for hostcnt in range(num_workers|int) %}
  - hostname: {{ worker_prefix }}{{ loop.index }}
    role: worker
    interfaces:
     - name: ens160
       macAddress: {{ arr_macs[hostcnt + 3] }}
    networkConfig:
      interfaces:
        - name: ens160
          type: ethernet
          state: up
          mac-address: {{ arr_macs[hostcnt + 3] }}
          ipv4:
            enabled: true
            address:
              - ip: {{ machine_ip_prefix }}{{ '%d' % ( loop.index + starting_ip|int + 2) }}
                prefix-length: {{ prefix_length }}
            dhcp: false
      dns-resolver:
        config:
          server:
            - {{ dns_server }}
      routes:
        config:
          - destination: 0.0.0.0/0
            next-hop-address: {{ next_hop_address }}
            next-hop-interface: ens160
  {% endfor %}
