apiVersion: v1alpha1
kind: AgentConfig
metadata:
  name: {{ cluster_name }}
rendezvousIP: {{ rendezvous_ip }}
hosts:
{%- for role, prefix, count, mac_offset in [("master", master_prefix, num_masters|int, 0), ("worker", worker_prefix, num_workers|int, 3)] %}
{%- for hostcnt in range(count) %}
{%- if role == 'master' and num_workers == '0' and num_masters == '1' %}
  - hostname: {{ cluster_name }}
{% else %}
  - hostname: {{ prefix }}{{ loop.index }}
{% endif %}
    role: {{ role }}
    interfaces:
     - name: {{ port0 }}
       macAddress: {{ arr_macs[hostcnt + mac_offset] }}
    networkConfig:
      interfaces:
      - name: {{ port0 }}.{{ vlan }}
        description: VLAN {{ vlan }} using port {{ port0 }}
        type: vlan 
        state: up 
        vlan:
          base-iface: {{ port0 }}
          id: {{ vlan }}
        ipv4:
          enabled: true
          address:
            - ip: {{ machine_ip_prefix }}{{ '%d' % ( loop.index + starting_ip|int - 1 + (3 if role == 'worker' else 0)) }}
              prefix-length: {{ prefix_length }}
          dhcp: false
      dns-resolver:
        config:
          server:
            {%- for dns in arr_dns_servers %}
            - {{ dns }}
            {%- endfor %}
      routes:
        config:
          - destination: 0.0.0.0/0
            next-hop-address: {{ next_hop_address }}
            next-hop-interface: {{ port0 }}.{{ vlan }}
{% endfor %}
{%- endfor %}
