# To fix https://access.redhat.com/solutions/5514331
apiVersion: v1
kind: ConfigMap
metadata:
  name: registry-config
  namespace: openshift-config
data:
  {{ reg_host }}..{{ reg_port }}: |
    {{ additional_trust_bundle|indent(4) }}
