kind: ImageSetConfiguration
apiVersion: mirror.openshift.io/v2alpha1
#storageConfig:
#  local:
#    path: .
mirror:
  platform:
    channels:
    - name: {{ ocp_channel }}-{{ ocp_ver_major }}
      minVersion: {{ ocp_ver }}
      maxVersion: {{ ocp_ver }}
      type: ocp
#      shortestPath: true
    graph: true
#  additionalImages:
#  - name: registry.redhat.io/openshift4/ose-cli
#  - name: registry.redhat.io/rhel9/support-tools:latest
#  - name: quay.io/openshifttest/hello-openshift:1.2.0
#  - name: registry.redhat.io/ubi9/ubi:latest
#  helm: {}
#  operators:
#  - catalog: registry.redhat.io/redhat/redhat-operator-index:v{{ ocp_ver_major }}
#    packages:
