kind: ImageSetConfiguration
apiVersion: mirror.openshift.io/v1alpha2
storageConfig:
  registry:
    imageURL: {{ reg_host }}:{{ reg_port }}/{{ reg_path }}
    skipTLS: {{ skipTLS }}
#  local:
#    path: save
mirror:
  platform:
    channels:
    - name: {{ ocp_channel }}-{{ ocp_ver_major }}
      minVersion: {{ ocp_ver }}
      maxVersion: {{ ocp_ver }}
      type: ocp
#    graph: true
#  additionalImages:
#  - name: registry.redhat.io/ubi9/ubi:latest
#  helm: {}
#  operators:
#  - catalog: registry.redhat.io/redhat/redhat-operator-index:v{{ ocp_ver_major }}
#    packages:
