- mirrors:
  - {{ reg_host }}:{{ reg_port }}{{ reg_path }}/openshift/release
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
- mirrors:
  - {{ reg_host }}:{{ reg_port }}{{ reg_path }}/openshift/release-images
  source: quay.io/openshift-release-dev/ocp-release
