kind: ImageSetConfiguration
apiVersion: mirror.openshift.io/v2alpha1
mirror:
  platform:
{%- if arch_short != 'amd64' %}
    architectures:
    - {{ arch_short }}
{%- endif %}
    channels:
    - name: {{ ocp_channel }}-{{ ocp_ver_major }}
      minVersion: {{ ocp_ver }}
      maxVersion: {{ ocp_ver }}
      type: ocp
#      shortestPath: true
    graph: true
#  additionalImages:
#  - name: registry.redhat.io/openshift4/ose-cli:latest
#  - name: registry.redhat.io/rhel9/support-tools:latest
#  - name: quay.io/openshifttest/hello-openshift:1.2.0
#  - name: registry.redhat.io/ubi9/ubi:latest
# Useful images for testing OpenShift Virtualization
#  - name: quay.io/containerdisks/centos-stream:10
#  - name: quay.io/containerdisks/centos-stream:9
#  - name: quay.io/containerdisks/fedora:latest
#  helm: {}
{%- if ops == '' and op_sets == '' %}
#  operators:
#  - catalog: registry.redhat.io/redhat/redhat-operator-index:v{{ ocp_ver_major }}
#    packages:
{%- endif %}
