apiVersion: v1
baseDomain: {{ base_domain }}
{%- if use_proxy  %}
proxy:
  httpProxy: {{ http_proxy }}
  httpsProxy: {{ https_proxy }}
  noProxy: {{ no_proxy -}}
{% endif %}
metadata:
  name: {{ cluster_name }}
compute:
- architecture: {{ arch_short }}
  hyperthreading: Enabled
  name: worker
  replicas: {{ num_workers }}
controlPlane:
  architecture: {{ arch_short }}
  hyperthreading: Enabled
  name: master
  replicas: {{ num_masters }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: {{ hostPrefix }}
  machineNetwork:
  - cidr: {{ machine_network }}/{{ prefix_length }}
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16
platform:
  {%- if num_workers == '0' and num_masters == '1' %}
  none: {}
  {%- elif GOVC_URL is defined %}
  vsphere:
    apiVIPs:
    - {{ api_vip }}
    ingressVIPs:
    - {{ ingress_vip }}
    failureDomains:
    - name: failure-domain-{{ cluster_name }}
      region: region-{{ cluster_name }}
      server: {{ GOVC_URL }}
      topology:
        computeCluster: "/{{ GOVC_DATACENTER }}/host/{{ GOVC_CLUSTER }}"
        datacenter: {{ GOVC_DATACENTER }}
        datastore: "/{{ GOVC_DATACENTER }}/datastore/{{ GOVC_DATASTORE }}"
        networks:
        - {{ GOVC_NETWORK }}
#        resourcePool: "/{{ GOVC_DATACENTER }}/host/{{ GOVC_CLUSTER }}/Resources/{{ GOVC_RESOURCE_POOL }}"
        folder: "{{ VC_FOLDER }}"
      zone: zone-{{ cluster_name }}
    vcenters:
    - datacenters:
      - {{ GOVC_DATACENTER }}
      password: '{{ GOVC_PASSWORD }}'
      port: 443
      server: {{ GOVC_URL }}
      user: {{ GOVC_USERNAME }}
    diskType: thin

#    vcenters:
#    - datacenters:
#      - {{ GOVC_DATACENTER }}
#      password: '{{ GOVC_PASSWORD }}'
#      port: 443
#      server: {{ GOVC_URL }}
#      user: {{ GOVC_USER }}
#    diskType: thin 
  {%- else %}
  baremetal:
#    apiVIP: "{{ api_vip }}"
    apiVIPs:
    - {{ api_vip }}
#    ingressVIP: "{{ ingress_vip}}"
    ingressVIPs:
    - {{ ingress_vip}}
  {%- endif %}
pullSecret: |
  {{ pull_secret|indent(2) }}
  {%- if ssh_key_pub != '' %}
sshKey: |
  {{ ssh_key_pub|indent(2) }}
  {%- endif %}
  {%- if additional_trust_bundle != '' %}
additionalTrustBundle: |
  {{ additional_trust_bundle|indent(2) }}
  {%- endif %}
{%- if image_content_sources != '' %}
ImageDigestSources:
  {{ image_content_sources|indent(2) }}
{% endif %}
