# Mirror registry configuration
# Please go through all values carefully and adjust them to match your *internal/private* network environment!
# Set the values to either a) your existing registry, or b) where you intend to install the Quay mirror registry. 


reg_host=registry.{{ domain }}		# FQDN of registry.  Can be for localhost or remote host.
					# Ensure a *DNS A record exists* that points to the IP address of that host.
					# For a remote host, be sure ssh if configured from this host to the remote host 
					# and set 'reg_ssh_key' and 'reg_ssh_user' (below) appropriately.

reg_port=8443				# The port used by any *existing* mirror registry. 
					# Note that Quay mirror registry appliance always uses 8443. 

reg_path=ocp4/openshift4		# This is the path where the OCP images will be stored,
					# e.g. https://registry.example.com:8443/ocp4/openshift4/...

# Important: The below values are only needed if you want aba to install Quay for you

reg_ssh_key=				# Optional: Ssh key file to use for *remote* install of Quay.
					# Example: ~/.ssh/id_rsa 
					# The key must allow password-less access to the remote host (defined by reg_host).
					# If undefined (the default) then the registry will be installed on localhost. 

reg_ssh_user=				# Optional: Username to use for *remote* install if Quay. Default is current user.

reg_pw=p4ssw0rd				# Registry password. Leave blank if a random password should be created e.g. reg_pw=
					# The password must be at least 8 characters and contain no white-space.

reg_root=				# Set the directory absolute path where the Quay mirror registry storage should be installed. 
					# Default is ~/quay-install.  Note that '~' can be used after the '='.
					# Note: never delete this storage without uninstalling the Quay registry first!

# The below parameters are for advanced use and do not need to be changed.

tls_verify=true				# If TLS should be verified for all registries. Default is 'true'.
					# Note that the installation of OpenShift *requires* an existing, trusted certificate
					# authority, or a self-signed certificate to access a *secured* mirror registry. 

