# Mirror registry configuration
#
# Review all values carefully and update them for your internal or air-gapped environment.
# Set the values according to your existing registry OR the target host where
# 'Mirror Registry for Red Hat OpenShift' (Quay) will be installed.

reg_host=registry.{{ domain }}		# FQDN of the registry host (no IP address). Can be local or remote.
					# Ensure a DNS A record resolves to an IP address that allows connections to this host.
					# If remote, confirm SSH access works from this host
					# and set 'reg_ssh_key' and 'reg_ssh_user' below accordingly.

reg_port=8443				# Port of the existing or target mirror registry.
					# Quay registry appliance always uses 8443.

reg_path=/ocp4/openshift4		# Path where mirrored images are stored,
					# e.g. https://registry.example.com:8443/ocp4/openshift4/...

reg_user=init				# Username for the registry. 

reg_pw='p4ssw0rd'			# Registry password. Leave empty to auto-generate one (e.g. reg_pw=).
					# Must be at least 8 characters with no whitespace and not include: "'\`$

data_dir=				# Optional: Absolute path to storage for images and temporary files.
					# Quay installs to $data_dir/quay-install; oc-mirror cache to $data_dir/.oc-mirror.
					# Defaults to the user’s home directory. '~' is supported after '='.

# The following values are only required for installing Quay on a remote host.

#reg_ssh_key=~/.ssh/id_rsa		# Optional: SSH private key for remote Quay installation.
					# If unset (default), Quay is installed locally.
					# The key must allow passwordless SSH access to reg_host.

#reg_ssh_user=				# Optional: SSH username for remote Quay installation. Defaults to current user.

