apiVersion: v1alpha1
kind: AgentConfig
metadata:
  name: standard
rendezvousIP: 10.0.1.81
hosts:
  - hostname: master1
  
    role: master
    interfaces:
     - name: ens160
       macAddress: "88:88:88:88:88:01"
    networkConfig:
      interfaces:
        - name: ens160
          type: ethernet
          state: up
          mac-address: "88:88:88:88:88:01"
          ipv4:
            enabled: true
            address:
              - ip: 10.0.1.81
                prefix-length: 24
            dhcp: false
      dns-resolver:
        config:
          server:
            - 10.0.1.8
      routes:
        config:
          - destination: 0.0.0.0/0
            next-hop-address: 10.0.1.1
            next-hop-interface: ens160
  
  - hostname: master2
  
    role: master
    interfaces:
     - name: ens160
       macAddress: "88:88:88:88:88:02"
    networkConfig:
      interfaces:
        - name: ens160
          type: ethernet
          state: up
          mac-address: "88:88:88:88:88:02"
          ipv4:
            enabled: true
            address:
              - ip: 10.0.1.82
                prefix-length: 24
            dhcp: false
      dns-resolver:
        config:
          server:
            - 10.0.1.8
      routes:
        config:
          - destination: 0.0.0.0/0
            next-hop-address: 10.0.1.1
            next-hop-interface: ens160
  
  - hostname: master3
  
    role: master
    interfaces:
     - name: ens160
       macAddress: "88:88:88:88:88:03"
    networkConfig:
      interfaces:
        - name: ens160
          type: ethernet
          state: up
          mac-address: "88:88:88:88:88:03"
          ipv4:
            enabled: true
            address:
              - ip: 10.0.1.83
                prefix-length: 24
            dhcp: false
      dns-resolver:
        config:
          server:
            - 10.0.1.8
      routes:
        config:
          - destination: 0.0.0.0/0
            next-hop-address: 10.0.1.1
            next-hop-interface: ens160
  
  - hostname: worker1
    role: worker
    interfaces:
     - name: ens160
       macAddress: 88:88:88:88:88:10
    networkConfig:
      interfaces:
        - name: ens160
          type: ethernet
          state: up
          mac-address: 88:88:88:88:88:10
          ipv4:
            enabled: true
            address:
              - ip: 10.0.1.91
                prefix-length: 24
            dhcp: false
      dns-resolver:
        config:
          server:
            - 10.0.1.8
      routes:
        config:
          - destination: 0.0.0.0/0
            next-hop-address: 10.0.1.1
            next-hop-interface: ens160
  
  - hostname: worker2
    role: worker
    interfaces:
     - name: ens160
       macAddress: 88:88:88:88:88:11
    networkConfig:
      interfaces:
        - name: ens160
          type: ethernet
          state: up
          mac-address: 88:88:88:88:88:11
          ipv4:
            enabled: true
            address:
              - ip: 10.0.1.92
                prefix-length: 24
            dhcp: false
      dns-resolver:
        config:
          server:
            - 10.0.1.8
      routes:
        config:
          - destination: 0.0.0.0/0
            next-hop-address: 10.0.1.1
            next-hop-interface: ens160
  
